/****************************/
/** Cores **/
/****************************/
$cor-branca:  #FFF;
$cor-preta:   #000;
$cor-cinza-17: #DADADA;
$cor-cinza-50: #4a4c4d;
$cor-cinza-23: #CCCCCC;

$amarelo-1: #fccf12;


$cor-fundo: #0d1011;
$cor-grafite: #445366;
$cor-azul: #0980de;
$cor-azul2: #172b4d;
$cor-amarela: #ffcd65;
$cor-rosa: #ff536f;

$cor-1: #001550; //Azul 1
$cor-2: #51669B; //Azul 2
$cor-3: #203057; //Azul 3
$cor-4: #E3E3E3; //Cinza 1
$cor-5: #BABABA; //Cinza 2
$cor-6: #646363; //Cinza 3
$cor-7: #404040; //Cinza 4
$cor-8: #1F3262; //Azul 4
$cor-9: #345DAA; //Azul 5
$cor-10: #F0F0F0; //bege2
$cor-11: #929292; //Borda cinza
$cor-12: #203162; //Azul 6
$cor-13: #888888; //Cinza 5
$cor-14: #F2F2F2; //Cinza 6